header {
	background-image: url(octocat.png);
	background-position: middle;
	color: #00BFFF;
	font-family: Impact, sans-serif;
}

footer {
	clear: both;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.column-1 {
	width: 48%;
	float: left;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.column-2 {
	width: 48%;
	float: right;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
h2 {
	color: #00BFFF;
	font-family: Impact, sans-serif;

}